.ProductAdd{
    display: flex;
    position: static;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #F1F1F1;
    padding: 20px;
    font-size: 22px;
    transition: all 1s ease;
}

.ProductAdd h6 {
    width: 130px;
    overflow-x: scroll;
}

.inputProduct{
    width: 130px;
    border: none;
    outline: none;
    height: 30px;
    background-color: #fff;
    color: #4F4F4F;
    background: #FFFFFF;
    font-size: 12px !important;
    border: 2px 2px 2px 0 solid #DDDDDD;
    padding: 0 10px;
    margin-right: 10px;
    transition: all 1s ease;
}

.inputImg{
    width: 300px;
}


.ProductAdd button{
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    color: white;
    background: #022964;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-left: 0 10px;
    cursor: pointer;
    transition: all 1s ease;
}