.ProfilePaymentList{
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.ListItem{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    /* background-color: #F1F1F1; */
}

.ListItem:nth-child(odd) {
    background: #F1F1F1;
}
.ListItem:nth-child(even) {
    background: #F9F8F8;
}

.ListItem h6{
    width: 250px;
    font-size: 16px;
    font-weight: 500;
}

.ListItem h6:nth-child(2){
    text-align: center;
}

.ListItem h6:last-child{
    text-align: right;
}

.noPayment{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #4f4f4f;
}