.ProfileProductList{
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.ProfileProductItem{
    width: 100%;
    background-color: #F1F1F1 ;
}

.ProductListItemHead button{
    background-color: transparent;
    color: #022964;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductListItem h6{
    font-size: 18px;
    font-weight: 400;
}

.ProductListItemHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    background-color: #F1F1F1;
}

.ProductListItemBody{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.ListItemHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #F1F1F1 ;
}

.ListItemHead h6{
    width: 120px;
    font-size: 14px;
    font-weight: 700;
}

.ListItemHead::-webkit-scrollbar {
    display: none;
  }

.ListItemFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #F1F1F1 ;
}

.ListItemFoot h6{
    width: 120px;
    font-size: 14px;
    font-weight: 700;
}

.ListItemBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    background-color: #F1F1F1 ;
}

.ListItemBody h6{
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    overflow-x: scroll;
}

.ListItemBody h6::-webkit-scrollbar {
    display: none;
  }

.noPurchase{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #4f4f4f;
}