.ProfileProductList{
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.ProfileProductItem{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.ProductListItemHead button{
    background-color: transparent;
    font-size: 16px;
    color: #022964;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
}


.ProductListItem h6{
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    
    
}

.ProductListItem h6::-webkit-scrollbar {
    display: none;
  }

.ProductListItemHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    /* background-color: #F1F1F1; */
}

.ProductListItemBody{
    background-color: rgb(228, 228, 228) ;
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}

.ProductListItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ListItemHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(221, 218, 218) ;
    /* background-color: #F1F1F1 ; */
}

.ListItemHead h6{
    width: 120px;
    font-size: 14px;
    font-weight: 700;
}

.ListItemHead::-webkit-scrollbar {
    display: none;
  }

.ListItemFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(221, 218, 218) ;
    /* background-color: #F1F1F1 ; */
}

.ListItemFoot h6{
    width: 120px;
    font-size: 14px;
    font-weight: 700;
}

.ListItemBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    
    /* background-color: #F1F1F1 ; */
}

.ProductListItem:nth-child(odd) {
    background: #F1F1F1;
}
.ProductListItem:nth-child(even) {
    background: #F9F8F8;
}

.ListItemBody h6{
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    overflow-x: scroll;
}

.ListItemBody h6::-webkit-scrollbar {
    display: none;
  }

.noPurchase{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #4f4f4f;
}