.SecondNav{
    height: 50px;
}

.loginLabel{
    width: 120px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginTxt{
    font-size: 18px;
    font-weight: 400;
    color: #04091D;
}

.mainRoot{
    display: flex;
    height: 100%;
    float: right;
}

.mainRoot > button{
    width: 120px;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}