.SecondNav{
    height: 50px;
}

.loginLabel{
    width: 120px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: #022964 !important;;
}

.loginTxt{
    font-size: 18px;
    font-weight: 400;
    color: #04091D;
}

.mainRoot{
    display: flex;
    height: 100%;
    float: right;
}

.mainRoot > button{
    width: 120px;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.indexLabel{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 30px;
}

.indexLabel > button{
    height: 100%;
    border: none;
    background-color: transparent;
}

.indexLabel > button > img{
    height: 20px;
    cursor: pointer;
}